:root {
  --background: #0C0C0C;
  --primary-color: #151515;
  --secondary-color: #3a3a3a;
  --accent-color: #505050;
  --text-color: #e0e0e0;
  --text-muted: #a0a0a0;
  --border-color: #2a2a2a;
  --hover-color: #3f3f3f;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Inter;
    font-size: 16pt;
    color: var(--text-color);
    
}

body{
    min-width: 100vh;
    padding: 10px;
    /* background-color:rgb(26, 26, 26); */
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-wrapper{
    display: flex;
    flex-direction: row;
    
}

.date-wrapper h3{
    padding-top:18px ;
    text-transform: uppercase;
    color:var(--text-muted);
    padding-right: 10px;
    font-weight: 300;
}

.date-wrapper h1{
    /* margin-top: 0px; */
    /* margin-bottom: 50px; */
    margin-left: 10px;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: -8px;
    text-transform: uppercase;
    text-align: left;
    color:var(--text-muted);
    flex-grow: 1;
}

.wrapper{
    width: 600px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: var(--background);
    padding: 20px 20px;
    padding-top: 20px;
    border-radius: 20px;
    margin: 20Px 0;
}

#input-task{
    box-sizing: border-box;
    padding: 20px 60px;
    width: 100%;
    background: black;
    border: none;
    color: var(--text-muted);
    caret-color: var(--text-color);
    border-radius: 15px;
    font-size: 25px;
    text-align: center;
}

#input-task{
    outline: none;
}

form{
    margin-top: 5px;
    position: relative;
}

#add-button{
    background-color: var(--primary-color);
    font: inherit;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    color: var(--text-muted);

    position: unset;
    width: 100%;
    margin-top: 12px;
    padding: 20px;
    height: auto;
}


.options{
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 30px 0; */
}


.taskType{
    width: 48%; 
}


.typesLabel{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 15px;
    border: none;
    font: inherit;
    color: var(--text-muted);
    align-items: center;
    justify-content: space-evenly;
}

.typesLabel:hover{
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: 200ms ease;
}


.typesLabel svg{
    height: 25px;
    width: 25px;
    font-size: 25px;
}

.typesDropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 48%;
  background-color: var(--primary-color);
  border-top: 2px solid var(--background);
  border-radius: 15px;
  z-index: 100;
}

.typesDropdown.show {
  display: flex;
}

#selectedAccent {
  background-color: var(--text-muted);
  border-radius: 25%;
  height: 16px;
  width: 16px;
  margin-right: 10px;
}


/*
.taskType:hover .typesDropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* padding: 10px 0;
    /* margin: 3px 0; 
    width: 48%;
    background-color: var(--primary-color);
    border-top: 2px solid var(--background);
    border-radius: 15px;
}
*/

.typesDropdown{
    display: none;
}

.typesDropdown li{
    display: block;
    padding: 10px 40px;
    /* margin-bottom: 10px; */
    display: flex;
    align-items: center;
    color: var(--text-muted);
    border-radius: 15px;
}

.typesDropdown li:hover{
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: 200ms ease;
}

/* ACCENT BOXES */

.typesDropdown li .accentBox{
    background-color: var(--text-muted);
    border-radius: 25%;
    height: 16px;
    width: 16px;
    margin-right: 25%;
    margin-left: 5%;
}

.typesDropdown li #boxType1{
    background-color: #00C8FF;
}

.typesDropdown li #boxType3{
    background-color: #FF9D00 ;
}

.typesDropdown li #boxType2{
    background-color: #00FF80;
}

.typesDropdown li #boxType4{
    background-color: #DA1143;
}

/* ADD IMG BUTTON */

#addImage-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    background-color: var(--primary-color);
    font: inherit;
    border: none;
    border-radius: 15px;
    color: var(--text-muted);
    padding: 20px;
    height: auto;  
}

#addImage-button svg{
    height: 25px;
    width: 25px;
    font-size: 25px;
}

#addImage-button:hover{
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: 200ms ease;
}

#add-button:hover {
    color: var(--text-color);
    background-color: var(--secondary-color);
    transition: 200ms ease;
}

.task{
    margin-top: 10px;
    /* padding: 0 16px; */
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.task .task-text{
    /* padding: 20px; */
    font-size: 18pt;
    /* padding-right: 0px; */
    flex-grow: 1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.delete-button{
    height: 100px;
    /* width: 10%; */
    padding: 0 20px;
    /* padding-left:  ; */
    border: none;
    display: flex;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    
}

.delete-button:hover{
    background-color: var(--hover-color);
    transition: 200ms ease;

}
.delete-button:hover svg{
    fill: var(--text-color);
    transition: 200ms ease;
}

.custom-checkbox {
  background-color:var(--background);
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  border: 2px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 20px;
  transition: 200ms ease;
  cursor: pointer;
}

.custom-checkbox svg{
    fill: var(--accent-color);
}



input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--text-muted);
  color: var(--background);
  /* transition: 200px; */

}

input[type="checkbox"]:checked ~ .custom-checkbox svg{
  fill: var(--accent-color);
  /* transition: 200px; */
}

input[type="checkbox"]:checked ~ .task-text {
  text-decoration: line-through;
  color: var(--accent-color);
  /* transition: 200px; */
}

input[type="checkbox"]:checked ~ .delete-button {
  background-color: var(--primary-color);
}

input[type="checkbox"]:checked ~ .delete-button svg{
  fill: var(--accent-color);
  /* transition: 200px; */
}

input[type="checkbox"] {
  display: none;
  /* transition: 200px; */
}

.task-text::selection {
  background: var(--accent-color);
  color: var(--text-color);
}





/* RESPONSIVE CODE FOR MOBILE  */

@media(max-width: 500px){
    /* html{
         font-size: 12pt; 
    } */

    #add-button{
        position: unset;
        width: 100%;
        padding: 20px;
        height: auto;
    }

    .task .task-text{
        padding: 20px;
        font-size: 18pt;

    }

    .wrapper{
    max-width: 95%;
    }

}